body{
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.timer {
	font-family: arial, serif;
	font-size: 20px;
	color: red;
}

.little-square
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #6f4e9e;
	display: inline-block;
	margin: 0 -4px;
}

.shape{
	margin: auto;
	cursor: move;
	display: inline-block;
	margin: 10px;
	background-color: #ccc;
}

.puzzle{
	margin: auto;
	cursor: move;
	display: inline-block;
	margin: 10px;
	background-color: #ddd;
}

.little-t
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #f26721;
	display: inline-block;
	margin: 0 -4px;
}

.little-l
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #70bd44;
	display: inline-block;
	margin: 0 -4px;
}

.little-flip-l
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #ec1b3d;
	display: inline-block;
	margin: 0 -4px;
}

.little-line
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #407cbf;
	display: inline-block;
	margin: 0 -4px;
}

.little-s
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #f1ea17;
	display: inline-block;
	margin: 0 -4px;
}

.little-z
{
	width: 40px;
	height: 40px;
	border: 4px solid black;
	background-color: #b1509d;
	display: inline-block;
	margin: 0 -4px;
}

.invisible
{
	width: 40px;
	height: 40px;
	display: inline-block;
}

.center
{
	text-align: center;
	margin: auto;
}

.right
{
	text-align: right;
	float: right;
}

.left
{
	text-align: left;
	float: left;
}

.tight
{
	height: 44px;
}

.clear: 
{
	clear: all;
}

.left-side
{
	width: 45%;
	display: inline-block;
}
.right-side
{
	width: 45%;
	display: inline-block;
	background-color: #eee;
}